Repository kunitoki/yup: changes, and which Codecov flags are due for each by the changed paths.
All: yup_core, yup_events, yup_audio_basics, yup_audio_devices, yup_audio_processors, yup_graphics, yup_gui, YUP Core, YUP Events, YUP Audio Basics, YUP Audio Devices, YUP Audio Processors, YUP Graphics, YUP GUI

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 5%
        base: auto
        flags:
          - yup_core
          - yup_events
          - yup_audio_basics
          - yup_audio_devices
          - yup_audio_processors
          - yup_graphics
          - yup_gui
    patch:
      default:
        target: 70%
        threshold: 5%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"

  individual_components:
    - component_id: yup_core
      name: "YUP Core"
      description: "Core functionality of the YUP framework."
      paths:
        - modules/yup_core/**

    - component_id: yup_events
      name: "YUP Events"
      description: "Event handling system for the YUP framework."
      paths:
        - modules/yup_events/**

    - component_id: yup_audio_basics
      name: "YUP Audio Basics"
      description: "Basic audio functionalities in the YUP framework."
      paths:
        - modules/yup_audio_basics/**

    - component_id: yup_audio_devices
      name: "YUP Audio Devices"
      description: "Audio device management in the YUP framework."
      paths:
        - modules/yup_audio_devices/**

    - component_id: yup_audio_processors
      name: "YUP Audio Processors"
      description: "Audio processing capabilities in the YUP framework."
      paths:
        - modules/yup_audio_processors/**

    - component_id: yup_graphics
      name: "YUP Graphics"
      description: "Graphics rendering and management in the YUP framework."
      paths:
        - modules/yup_graphics/**

    - component_id: yup_gui
      name: "YUP GUI"
      description: "Graphical User Interface components of the YUP framework."
      paths:
        - modules/yup_gui/**

flags:
  yup_core:
    paths:
      - modules/yup_core/
    carryforward: true
  yup_events:
    paths:
      - modules/yup_events/
    carryforward: true
  yup_audio_basics:
    paths:
      - modules/yup_audio_basics/
    carryforward: true
  yup_audio_devices:
    paths:
      - modules/yup_audio_devices/
    carryforward: true
  yup_audio_processors:
    paths:
      - modules/yup_audio_processors/
    carryforward: true
  yup_graphics:
    paths:
      - modules/yup_graphics/
    carryforward: true
  yup_gui:
    paths:
      - modules/yup_gui/
    carryforward: true

ignore:
  - "thirdparty/**/*"
  - "examples/**/*"
  - "tests/**/*"
  - "tools/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "standalone/**/*"
  - "modules/*/native/*"

comment:
  layout: "header, reach, components, diff, flags, files, footer"
  behavior: default
  require_changes: false

Removed ambiguous operators and more tests
  modules/yup_core/containers/yup_Variant.cpp
  modules/yup_core/containers/yup_Variant.h
  modules/yup_gui/buttons/yup_TextButton.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
  tests/yup_gui/yup_ComboBox.cpp
  tests/yup_gui/yup_Label.cpp
  tests/yup_gui/yup_SwitchButton.cpp
  tests/yup_gui/yup_TextButton.cpp
  tests/yup_gui/yup_ToggleButton.cpp
Due: yup_core, yup_gui, YUP Core, YUP GUI

Run tests on emscripten without using SDL
  tests/CMakeLists.txt
Due: none

Remove useless demo
  .github/workflows/build_macos.yml
Due: none

Fix issue in coverage
  tests/CMakeLists.txt
Due: none

More tests
  examples/app/source/main.cpp
  examples/graphics/source/main.cpp
  modules/yup_audio_plugin_client/standalone/yup_audio_plugin_client_Standalone.cpp
  modules/yup_events/messages/yup_ApplicationBase.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/component/yup_Component.h
  tests/main.cpp
  tests/yup_gui/yup_Component.cpp
Due: yup_events, yup_gui, YUP Events, YUP GUI

More tests
  tests/yup_gui/yup_TextEditor.cpp
Due: none

Missing tests
  tests/yup_graphics/yup_Rectangle.cpp
Due: none

More tests
  modules/yup_graphics/primitives/yup_Size.h
  tests/yup_graphics/yup_Size.cpp
Due: yup_graphics, YUP Graphics

More tests
  modules/yup_graphics/primitives/yup_Rectangle.h
  tests/yup_graphics/yup_Size.cpp
Due: yup_graphics, YUP Graphics

More tweaks
  codecov.yml
  tests/yup_gui/yup_PopupMenu.cpp
Due: none

More tweaks
  tests/yup_gui/yup_PopupMenu.cpp
Due: none

Fix issue with linux
  tests/yup_gui/yup_PopupMenu.cpp
Due: none

Fix issue
  modules/yup_gui/menus/yup_PopupMenu.cpp
  tests/yup_gui/yup_PopupMenu.cpp
Due: yup_gui, YUP GUI

Fix PopupMenu behaviour
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/menus/yup_PopupMenu.h
  modules/yup_gui/native/yup_Windowing_sdl2.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

More tweaks
  examples/graphics/source/examples/Audio.h
  modules/yup_gui/component/yup_Component.cpp
  modules/yup_gui/desktop/yup_Desktop.cpp
  modules/yup_gui/desktop/yup_Desktop.h
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/menus/yup_PopupMenu.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  tests/yup_gui/yup_PopupMenu.cpp
Due: yup_gui, YUP GUI

Code formatting
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
Due: yup_gui, YUP GUI

More working stuff
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/menus/yup_PopupMenu.h
Due: yup_gui, YUP GUI

Code formatting
  modules/yup_gui/menus/yup_PopupMenu.cpp
Due: yup_gui, YUP GUI

More tweaks
  modules/yup_gui/menus/yup_PopupMenu.cpp
  modules/yup_gui/menus/yup_PopupMenu.h
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
  modules/yup_gui/widgets/yup_ComboBox.h
  modules/yup_gui/widgets/yup_Label.h
  modules/yup_gui/windowing/yup_DocumentWindow.cpp
  modules/yup_gui/windowing/yup_DocumentWindow.h
Due: yup_gui, YUP GUI

Improve font standardisation
  modules/yup_gui/buttons/yup_ToggleButton.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
Due: yup_gui, YUP GUI

Code formatting
  modules/yup_gui/themes/theme_v1/yup_ThemeVersion1.cpp
  modules/yup_gui/widgets/yup_ComboBox.cpp
  modules/yup_gui/widgets/yup_ComboBox.h
  modules/yup_gui/widgets/yup_Label.h
Due: yup_gui, YUP GUI

Tests with Doxygen
  .github/workflows/doxygen.yml
  Doxyfile
Due: none

Improve
  .github/workflows/doxygen.yml
Due: none

Fix doxygen
  .github/workflows/doxygen.yml
Due: none

Fix doxygen
  examples/graphics/data/svg/aa.svg
  examples/graphics/data/svg/acid.svg
  examples/graphics/data/svg/adobe.svg
  examples/graphics/data/svg/alphachannel.svg
  examples/graphics/data/svg/android.svg
  examples/graphics/data/svg/compass.svg
  examples/graphics/data/svg/hearth_absolute.svg
  examples/graphics/data/svg/hearth_relative.svg
  examples/graphics/data/svg/hearth_use.svg
  examples/graphics/data/svg/vector_example.svg
  examples/graphics/source/main.cpp
  modules/yup_core/misc/yup_Uuid.h
  modules/yup_core/text/yup_String.h
  modules/yup_graphics/primitives/yup_AffineTransform.h
  modules/yup_graphics/primitives/yup_Line.h
  modules/yup_graphics/primitives/yup_Point.h
  modules/yup_graphics/primitives/yup_Rectangle.h
  modules/yup_graphics/primitives/yup_Size.h
Due: yup_core, yup_graphics, YUP Core, YUP Graphics

Improved drawable
  examples/graphics/source/examples/Svg.h
  examples/graphics/source/main.cpp
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
  modules/yup_graphics/yup_graphics.h
Due: yup_graphics, YUP Graphics

Code formatting
  examples/graphics/source/examples/Svg.h
  modules/yup_graphics/drawables/yup_Drawable.h
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
Due: yup_graphics, YUP Graphics

Added tiger
  examples/graphics/data/svg/tiger.svg
Due: none

Fix issues
  modules/yup_graphics/drawables/yup_Drawable.cpp
  modules/yup_graphics/yup_graphics.cpp
Due: yup_graphics, YUP Graphics

Code formatting
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

Fix
  modules/yup_graphics/drawables/yup_Drawable.h
Due: yup_graphics, YUP Graphics

Remove unused methods
  modules/yup_graphics/graphics/yup_Graphics.h
Due: yup_graphics, YUP Graphics

Fix height
  modules/yup_graphics/drawables/yup_Drawable.cpp
Due: yup_graphics, YUP Graphics

Improve Path api
  modules/yup_graphics/primitives/yup_Path.cpp
  modules/yup_graphics/primitives/yup_Path.h
Due: yup_graphics, YUP Graphics

Improved ColorGradient
  modules/yup_graphics/graphics/yup_ColorGradient.h
  modules/yup_graphics/graphics/yup_Graphics.cpp
Due: yup_graphics, YUP Graphics
